@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Gantari:wght@300;400;500&family=Merriweather:wght@900&family=Oswald:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:Gantari;
}

section{
    height: 600px;
    display: flex;
    justify-content: center;
}

.top-banner{
    background-color: rgb(23, 24, 26);
    background-image: linear-gradient(rgba(104, 104, 104,.5),rgba(12, 11, 12, .5)),url("images/donation13.jpg");
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.container{
    width: 55%;
    margin: auto;
    text-align: center;
}
h1{
    background-color:rgba(39, 32, 39, 0.5);
    color: rgb(224, 219, 219);
    font-size: 60px;
    font-weight: 300px;

}
p{
    color: rgb(167, 175, 182);
    font-size: 18px;
    margin: 25px 0px 40px;
}
.button{
    background: linear-gradient(rgb(233, 101, 101),rgb(151, 68, 53));
    padding: 15px 25px;
    border-radius: 5px;
    color: rgb(253, 245, 245);
    text-decoration: none;
    font-size: 18px;
    
}
.button:hover{
    background: rgb(211, 100, 100);
    
}
h2{
    font-size: 40px;
    font-weight: 500px;
}

.amount{
    display: flex;
    justify-content: space-evenly;
}
.amount-child{
    height: 100px;
    width: 120px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(65, 60, 60);
    border-radius: 5px;
    margin: 10px 0px;
    
}
#most-possible-amount{
    background-color: rgba(247, 22, 22, 0.1);
    border: 2px solid rgb(211, 98, 78);
    color: tomato;
}


.other-amount-input{
    border: none;
    width: 100%;
    text-align: center;
    margin: 40px 0px;
    border-bottom: 1px solid rgb(209, 198, 198);
    padding: 10px 0px;
    font-size: 18px;
   
}
.other-amount:focus{
    outline: none;
}
#donate-plane-container{
    width: 80%;
    
}
.container-header{
    width: 50%;
    margin: auto;
}
h5{
    font-size: 22px;
}
.donate-plane{
    display: flex;
    justify-content: space-evenly;
}
.donate-plane p{
    font-size: 16px;
}
.donate-plane img{
    width: 50px;
    margin-bottom: 20px;
}
.donate-plane-child{
    width: 250px;
    height: 250px;
    text-align:left;
    padding: 30px 27px 10px;
   

}
#food-icon{
    background: #E8F0F7;
}
#shelter-icon{
    background: #E8F7F7;
}
#frame-icon{
    background: #F7F2F2;
}
.end-section{
    height: 400px;
}
.subscribe-area{
    background: #F7F2F2;
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    
    
}
#input-email{
    background: #cfdbe7;
    border: none;
    padding: 12px 50px;
    border-radius: 5px 0px 0px 5px;
    float: left;
   
}
#input-submit{
    background:  linear-gradient(rgb(233, 101, 101),rgb(151, 68, 53));
    padding: 12px 20px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    float: left;
    color: rgb(247, 241, 241);
}
